<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="config.properties"/>

    <property name="log_pattern"
              value="%contextName %boldGreen(%mdc{trace_id}) %date{yyyy-MM-dd HH:mm:ss.SSS} %boldYellow(%thread) %highlight(%level) %boldYellow(%logger).%boldCyan(%method) %message%n"/>

    <contextName>${appkey}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${log_pattern}
            </pattern>
        </encoder>
    </appender>

    <appender name="logAppender" class="com.scy.core.log.LogAppender"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logAppender"/>
    </root>
</configuration>
