<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="config.properties"/>

    <property name="log_pattern"
              value="%contextName %boldGreen(%mdc{trace_id}) %date{yyyy-MM-dd HH:mm:ss.SSS} %boldYellow(%thread) %highlight(%level) %boldYellow(%logger).%boldCyan(%method) %message%n"/>

    <contextName>${appkey}</contextName>

    <appender name="logAppender" class="com.scy.core.log.LogAppender"/>

    <appender name="error_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                ${log_pattern}
            </pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/${appkey}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>512MB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="all_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                ${log_pattern}
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_home}/${appkey}/all.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>512MB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="logAppender"/>
        <appender-ref ref="error_log"/>
        <appender-ref ref="all_log"/>
    </root>
</configuration>
